<section id="portfolio-section" class="portfolio home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div class="section-header">
      <h2>Our Story</h2>
      <p>Duo innovativo ed ambizioso, quello formato da Tobia Ciaglia e Francesco Cerone, che fa della musica drum 'n' bass il suo cavallo di battaglia.
        Scuotendo a ritmi decisamente veloci il suo live provoca nell'ascoltatore una insana e frenetica voglia di ballare e di scatenarsi, intervallando momenti di pura elettronica ad altri dance, il tutto spietatamente miscelato con influenze e sonorità rock.
        Inoltre il live è arricchito dalla proiezione di video a ritmo di musica e di luci accuratamente montate ad hoc.
        Il Duo è formato da Tobia Ciaglia al basso elettrico e synth e da Francesco Cerone alla batteria e sequencer.
        Siamo sicuri di affermare che una roba così è difficile che si veda in giro, e per stimolare la vostra curiosità vi invitiamo a venire ai nostri concerti.
        Il Duo ha avuto modo di esibirsi su molti palchi di Siena e soprattutto Provincia, spingendosi verso Firenze, ed aprendo diversi live  rispettivamente dei Verdena,Radici nel Cemento, Brunori SAS e Stato Sociale.
      </p>
    </div>

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/coppia.jpg">
          <mat-card-content>
            <h5><strong><a href="">Photos</a></strong></h5>
            <p>
              A little about us
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="33.33">
        <mat-card class="p-0 m-0">
          <img mat-card-image src="assets/images/rig.jpg">
          <mat-card-content>
            <h5><strong><a href="">Rig</a></strong></h5>
            <p>
              Our Musical Instruments
            </p>
            <mat-divider class="mb-1"></mat-divider>
            <button mat-icon-button><mat-icon class="text-muted">link</mat-icon></button>
            <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</section>
