.home-cta {
  background: url('../../../../assets/images/coppiaDeserto.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  min-height: 400px;
}
