<section class="home-section home-cta">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="66.666" style="text-align: right">
        <p>Rock 'n' Roll might not solve your problems, but it does let you dance all over them</p>
        <p>CIT. Pete Townshend</p>
      </div>
      <!--
      <div fxFlex="33.333" fxLayoutAlign="center center">
        <button mat-raised-button mat-lg-button color="accent" (click)="buyEgret()">BUY EGRET NOW</button>
      </div>
      -->
    </div>
  </div>
</section>
