<footer class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <!--
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>About Us</b></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Officiis perferendis rem, aut aliquam neque nam? dolor sit amet, consectetur adipisicing elit consectetur adipisicing elit.
            Officiis perferendis rem, aut aliquam.</p>
          <button mat-raised-button color="accent">Contact Us</button>
        </div>
        -->
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Contact</b></h4>
          <mat-list>
            <mat-list-item>
              <mat-icon mat-list-icon color="accent">email</mat-icon>
              <h5 matLine><b>Email</b></h5>
              <p matLine> info@elektrowave.it </p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon color=#a23b65>contact_phone</mat-icon>
                <h5 matLine><b>Phone</b></h5>
                <p matLine>+39 347 68 35 437</p>
                <p matLine>+39 328 31 84 162</p>
              </mat-list-item>
          </mat-list>
        </div>
        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Disclaimer</b></h4>
          <p>Follow Us on:
          <div class="socials pt-1">
            <ul>
              <li><a href="https://www.facebook.com/elektrowaveduoband" class="social-icon facebook"></a></li>
              <li><a href="https://www.instagram.com/elektrowave/" class="social-icon instagram"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
